name: documentation

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write
  packages: write

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      image: ghcr.io/${{ github.repository }}/tiliqua-builder:${{ steps.sanitize.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Sanitize branch name for Docker tag
        id: sanitize
        run: |
          TAG=$(echo "${{ github.ref_name }}" | sed 's/\//-/g')
          echo "tag=$TAG" >> $GITHUB_OUTPUT
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: gateware/scripts
          file: gateware/scripts/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/tiliqua-builder:${{ steps.sanitize.outputs.tag }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/tiliqua-builder:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository }}/tiliqua-builder:buildcache,mode=max

  docs:
    needs: build-docker-image
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.build-docker-image.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-container
      - run: pdm document
        working-directory: gateware
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: gateware/docs/_build/
          force_orphan: true
