name: build & test

on: [push]

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      image: ghcr.io/${{ github.repository }}/tiliqua-builder:${{ steps.sanitize.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Sanitize branch name for Docker tag
        id: sanitize
        run: |
          TAG=$(echo "${{ github.ref_name }}" | sed 's/\//-/g')
          echo "tag=$TAG" >> $GITHUB_OUTPUT
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: gateware/scripts
          file: gateware/scripts/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/tiliqua-builder:${{ steps.sanitize.outputs.tag }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/tiliqua-builder:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository }}/tiliqua-builder:buildcache,mode=max

  unit-tests-amaranth:
    needs: build-docker-image
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.build-docker-image.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-container
      - run: pdm test
        working-directory: gateware

  unit-tests-rust:
    needs: build-docker-image
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.build-docker-image.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-container
      - run: | # fake generated SoC constants from lib
          . /root/.cargo/env
          touch src/generated_constants.rs
          RUST_LOG=debug cargo test
        working-directory: gateware/src/rs/lib
      - run: |
          . /root/.cargo/env
          RUST_LOG=debug cargo test_linux
        working-directory: gateware/src/rs/hal
      - run: |
          . /root/.cargo/env
          RUST_LOG=debug cargo test
        working-directory: gateware/src/rs/opts

  build-bitstreams-soc:
    needs: build-docker-image
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.build-docker-image.outputs.image }}
    strategy:
      matrix:
        hw_rev: ["r2", "r3", "r4", "r5"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-container
        with:
          init-submodules: 'true'
      - name: Build all SoC bitstreams (${{ matrix.hw_rev }})
        run: ./scripts/build_bitstreams_soc.sh --hw=${{ matrix.hw_rev }}
        working-directory: gateware
      - uses: actions/upload-artifact@v4
        with:
          name: bitstreams-soc-${{ matrix.hw_rev }}.zip
          path: gateware/build/*/*-*-*.tar.gz
          retention-days: 1

  build-bitstreams-no-soc:
    needs: build-docker-image
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.build-docker-image.outputs.image }}
    strategy:
      matrix:
        hw_rev: ["r2", "r3", "r4", "r5"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-container
        with:
          init-submodules: 'true'
      - name: Build all non-SoC bitstreams (${{ matrix.hw_rev }})
        run: ./scripts/build_bitstreams_no_soc.sh --hw=${{ matrix.hw_rev }}
        working-directory: gateware
      - uses: actions/upload-artifact@v4
        with:
          name: bitstreams-no-soc-${{ matrix.hw_rev }}.zip
          path: gateware/build/*/*-*-*.tar.gz
          retention-days: 1

  sim-bitstream:
    needs: build-docker-image
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.build-docker-image.outputs.image }}
    strategy:
      matrix:
        config:
          - name: dsp-diffuser-sim
            cmd: dsp sim --dsp-core psram_diffuser
          - name: vectorscope-sim
            cmd: vectorscope_no_soc sim --fs-192khz
        hw_rev: ["r2", "r3", "r4", "r5"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-container
        with:
          init-submodules: 'true'
      - name: Build ${{ matrix.config.cmd }} --hw ${{ matrix.hw_rev }}
        run: pdm ${{ matrix.config.cmd }} --hw ${{ matrix.hw_rev }}
        working-directory: gateware

  package-artifacts:
    needs: [build-bitstreams-soc, build-bitstreams-no-soc]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: "*"
          path: .
          merge-multiple: true
      - uses: actions/upload-artifact@v4
        with:
          name: bitstreams
          path: "*"
